:root {
    --dark-blue: rgb(0, 5, 36);
    --accent-gray: #444;
    --background-gray: #222;
    --white: rgb(255, 255, 255);
    --heading-blue: rgb(62, 62, 255);
  }
  

body {
    margin: 40px;
    background-color: var(--background-gray);
}

h1 {
    color: var(--heading-blue);
    text-align: center;
}



.valves-container {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.valve-container {
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: 30px 30px 30px 30px;
    grid-gap: 1px;
    color: var(--accent-gray);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    width: auto;
    align-content: center;
    background-color: var(--dark-blue);
    font-size: 20px;
}


.time {
    background-color: var(--accent-gray);
    color: var(--white);
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.valve-name {
    color: var(--white);
    font-size: 23px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

#duration-entry-form {
    display: grid;
    grid-template-columns: 110px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 3px;
    color: var(--accent-gray);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    width: 120px;
    align-content: center;
    background-color: var(--dark-blue);
    justify-content: center;
}

#bnt-container {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}



/*#rtc-time-display {
    background-color: var(--accent-gray);
    color: var(--white);
}
*/
